<ion-view title={{allNotes[noteThingToShow].title}}>
  <ion-content>
    <div class="padding card">
      <div class="item item-divider">
        {{allNotes[noteThingToShow].title}}
      </div>
      <div class="item item-text-wrap">
        <textarea style="width: 100%"  ng-keyup="checkSaveStatus($event)" ng-model="allNotes[noteThingToShow].content"></textarea>
      </div>
    </div>
    <div class="padding">
      <button id="save-button" class="button button-block button-outline button-dark" style="width: 100%" ng-click="saveEditedNote()">Save</button>
    </div>
  </ion-content>
</ion-view>

