<div class="modal padding">
  <ion-header-bar>
    <h1 class="title">Add a note</h1>
  </ion-header-bar>

  <div class="padding card">
    <div class="item item-text-wrap">
      <label>
        <span class="input-label">New Item</span>
        <input type="text" placeholder="Alien observed" ng-model="user.currentNoteTitle" style="width: 100%;">
      </label>
    </div>
    <div class="item item-text-wrap">
      <label>
        <span class="input-label">Observation</span>
        <textarea name="textarea" rows="10" cols="50" placeholder="Has 3 eyes " ng-model="user.currentNoteContent" style="width: 100%"></textarea>
      </label>
    </div>
  </div>
  <div class="padding">
    <button id="add-note-launch" class="button button-block button-dark" ng-click="storeNewNote()">Submit</button>
    <button id="add-note-launch" class="button button-block button-outline button-dark" ng-click="closeModal()">Cancel</button>
  </div>
<div>

